<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruowen.ruowendemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".project.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".project.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".project.TestActivity" />
        <activity android:name=".project.asynctaskleak.AsyncTaskLeakActivity" />
        <activity android:name=".project.multitypelistview.MultiTypeListViewActivity" />
        <activity android:name=".project.selfdefineview.SelfViewActivity" />
        <activity android:name=".project.rxjava.RxJavaActivity" />
        <activity android:name=".project.retrofit.RetrofitActivity"></activity>
    </application>

</manifest>