<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruowen.ruowendemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 自动聚焦权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 修改/删除 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".project.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".project.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".project.TestActivity"
            android:launchMode="singleTop" />
        <activity android:name=".project.asynctaskleak.AsyncTaskLeakActivity" />
        <activity android:name=".project.multitypelistview.MultiTypeListViewActivity" />
        <activity android:name=".project.selfdefineview.SelfViewActivity" />
        <activity android:name=".project.rxjava.RxJavaActivity" />
        <activity android:name=".project.retrofit.RetrofitActivity" />
        <activity android:name=".project.retrofitandrxjava.RetrofitAndRxJavaActivity" />
        <activity android:name=".project.selfdefineview.DragViewActivity" />
        <activity android:name=".project.selfdefineview.SlipLayoutActivity" />
        <activity android:name=".project.selfdefineview.CanvasUseActivity" />
        <activity android:name=".project.selfdefineview.ColorMatrixActivity" />
        <activity android:name=".project.selfdefineview.WavingFlagActivity" />
        <activity
            android:name=".project.camera.JobShotIdCardActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".project.camera.JobPreviewPhotoActivity" />
        <activity
            android:name=".project.camera.BaiduCameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".project.camera.SensorCameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".project.myslidingdrawer.SlidingDrawerActivity" />
        <activity android:name=".project.nativetest.JNITestActivity" />
        <activity android:name=".project.viewtoimage.ViewToImageActivity" />
        <activity android:name=".project.lottie.LottieActivity" />
        <activity android:name=".project.RecyclerView.RecycleViewActivity" />
        <activity android:name=".project.thread.AsyncTaskActivity" />

        <service android:name=".project.thread.LocalIntentService" />

        <activity android:name=".project.thread.ThreadPoolActivity" />
        <activity android:name=".project.hook.ProxyActivity" />
        <activity android:name=".project.selfdefineview.ViewGroupActivity" />
        <activity android:name=".project.imageloader.ImageLoaderActivity" />
        <activity android:name=".project.transanim.TransanimActivity"></activity>
    </application>

</manifest>